n8n_workflows/workflow.json
{
  "name": "Job Hunt — Daily Cold Email Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 10:30 PM IST Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://contacts_svc:8000/fetch-contacts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"AI company recruiter\",\n  \"location\": \"India\",\n  \"limit\": 30\n}",
        "options": {}
      },
      "id": "fetch-contacts",
      "name": "Fetch Contacts from Apollo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        400
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Process One at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        720,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://email_gen:8001/generate-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.name, email: $json.email, company: $json.company, title: $json.title, company_description: $json.company_description }) }}",
        "options": {}
      },
      "id": "generate-email",
      "name": "Generate Personalized Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://email_send:8002/send-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to_email: $json.contact_email, subject: $json.subject, body: $json.body }) }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Cold Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-result",
      "name": "Email Sent OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        400
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'http://contacts_svc:8000/contacts/' + $('Process One at a Time').item.json.id + '/status?status=sent' }}",
        "options": {}
      },
      "id": "mark-sent",
      "name": "Mark Contact as Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'http://contacts_svc:8000/contacts/' + $('Process One at a Time').item.json.id + '/status?status=failed' }}",
        "options": {}
      },
      "id": "mark-failed",
      "name": "Mark Contact as Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-entry",
              "name": "log",
              "value": "={{ `[${new Date().toISOString()}] SENT: ${$('Process One at a Time').item.json.email} | ${$('Generate Personalized Email').item.json.subject}` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1940,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-fail",
              "name": "log",
              "value": "={{ `[${new Date().toISOString()}] FAILED: ${$('Process One at a Time').item.json.email} | ${$json.message}` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-failure",
      "name": "Log Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1940,
        500
      ]
    }
  ],
  "connections": {
    "Daily 10:30 PM IST Trigger": {
      "main": [
        [
          {
            "node": "Fetch Contacts from Apollo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Contacts from Apollo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Contacts from Apollo": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One at a Time": {
      "main": [
        null,
        [
          {
            "node": "Generate Personalized Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Personalized Email": {
      "main": [
        [
          {
            "node": "Send Cold Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Cold Email": {
      "main": [
        [
          {
            "node": "Email Sent OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Sent OK?": {
      "main": [
        [
          {
            "node": "Mark Contact as Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Contact as Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Contact as Sent": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Contact as Failed": {
      "main": [
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Failure": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "job-hunt"
    },
    {
      "name": "automation"
    }
  ]
}